
<ion-header>

  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button default-href="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Lista Oggetti</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content class="master" color="dark" padding>

<ion-list class="master" color="dark">
  <ion-item class="master" color="dark" *ngFor="let item of listaoggetti" (click)="modifica(item);">
    <ion-label>
    <h3 style="color:#ff0000;" [ngClass]="{'fisso': item.fissomobile=='F' , 'mobile': item.fissomobile=='M', 'utente': item.fissomobile=='U'}">{{item.idoggetto}} - {{item.nomeoggetto}}</h3>
    <p >{{item.descrizione}}</p>
    </ion-label>
  </ion-item>
</ion-list>



</ion-content>
