<ion-header>

  <ion-toolbar color="medium">
    <ion-title>Narazione - Home</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="logoutx()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content  class="master" color="dark" >

	<ion-row class="master" color="dark" >
		<ion-col>
			<ion-button class="submit-btn2" expand="full" shape="round" color="danger" type="submit" (click)="godadi()">Fattore Aleatorio e Log Msg.</ion-button>
		</ion-col>
	</ion-row>


	<ion-list color="dark" class="master">
		<ion-item color="dark"  style="background-color: #444444">
			<ion-icon name="person-outline" item-start color="danger" ></ion-icon> &nbsp;
			<ion-select label="PG" [(ngModel)]="pgscelto" name="pgscelto" style="max-width:85%;color:#ffffff;" required>
				<ion-select-option *ngFor="let pg of listautenti" value="{{pg.id}}" >{{pg.nomepg}}</ion-select-option>
		  	</ion-select>
		</ion-item>
	</ion-list>
		
	<ion-row class="master" color="dark" >
		<ion-col>
			<ion-button  color= "danger" class="submit-btn2" shape="round" size="full" type="submit" [disabled]="pgscelto==0" (click)="vedischeda()" >
				<ion-icon name="eye-outline" color="medium" ></ion-icon> &nbsp;
				Vedi scheda
			</ion-button>
		</ion-col>
	</ion-row>
	<ion-row class="master" color="dark" >
		<ion-col>
			<ion-button class="submit-btn3" shape="round" size="full" type="submit" [disabled]="pgscelto==0" (click)="inviamessaggio()" >
				<ion-icon name="paper-plane-outline" color="medium" ></ion-icon> &nbsp;
				Invia messaggio
			</ion-button>
		</ion-col>
	</ion-row>

	<ion-row class="master" color="dark" >
		<ion-col>
			<ion-button class="submit-btn2" expand="full" shape="round" color="danger" type="submit" (click)="openbarcode()">
				<ion-icon name="camera-outline" item-start color="medium" ></ion-icon> &nbsp;
				Scan</ion-button>
		</ion-col>
	</ion-row>

	<ion-row class="master" color="dark" >
		<ion-col>
			<ion-button class="submit-btn2" expand="full" shape="round" color="danger" type="submit" (click)="godiablerie()">Diablerie</ion-button>
		</ion-col>
	</ion-row>

	<ion-row class="master" color="dark" >
		<ion-col>
			
			<ion-button class="submit-btn2" expand="full" shape="round" color="danger" type="submit" (click)="golistaoggetti()">
				<ion-icon name="cube-outline" item-start color="medium" ></ion-icon> &nbsp;
				Lista Oggetti</ion-button>
		</ion-col>
	</ion-row>



	



</ion-content>

